- if download.is_a? WgetDownload
  - if download.filter.present?
    %span.tag.is-primary.is-size-8
      = download.filter
  - if download.http_auth?
    %span.tag.is-link.is-size-8
      HTTP Auth
- elsif download.is_a? YoutubeAudioDownload
  %span.tag.is-info.is-size-8
    = download.youtube_audio_format
- elsif download.is_a? YoutubeVideoDownload
  - if download.youtube_subs
    %span.tag.is-success.is-size-8
      Subs
  - if download.youtube_srt_subs
    %span.tag.is-warning.is-size-8
      SRT Subs