- content_for :title do
  Cancelled Downloads

.downloads.downloads--cancelled
  = breadcrumb("Downloads", "Cancelled Downloads")
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued, :cancelled], actions: [:remove, :queue])
  -# = render "table", table: { queued: true, cancelled: true }, action: { remove: true, queue: true }
  