- content_for :title do
  Cancelled Downloads

.container
  %table.table.table-hover
    %thead
      %tr
        %th.downloads--icon
        %th URL
        %th.downloads--timestamp Queued
        %th.downloads--timestamp Cancelled
        %th.downloads--action-icons
    %tbody
      - @downloads.each do |download|
        %tr
          %td.downloads--icons=download_icon(download)
          %td
            = link_to download.url, download.url, class: "text-decoration-none", target: "_blank"
            = render partial: "tags", locals: { download: download }
          %td=download.created_at.to_s(:timestamp)
          %td=download.cancelled_at.to_s(:timestamp)
          %td.p-0
            .d-flex
              = button_to download_path(download), method: :delete, title: "Remove", class: "btn" do
                %i.bi.bi-trash.text-danger
              = button_to queue_download_path(download), title: "Queue again", class: "btn" do
                %i.bi.bi-arrow-clockwise
          