- content_for :title do
  Cancelled Downloads

.downloads.downloads--cancelled
  = breadcrumb("Downloads", "Cancelled Downloads")
  = render "table", table: { queued: true, cancelled: true }, action: { remove: true, queue: true }
  