- content_for :title do
  Cancelled Downloads

.p-4
  = render BreadcrumbsComponent.new(crumbs: ["Downloads", "Cancelled Downloads"])

.p-4  
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued, :cancelled], actions: [:remove, :queue])
  