- content_for :title do
  Failed Downloads

.downloads.downloads--failed
  = breadcrumb("Downloads", "Failed Downloads")
  = render "table", table: { queued: true, started: true, failed: true }, action: { remove: true, queue: true }

