- content_for :title do
  Failed Downloads

.container
  %table.table.table-hover
    %thead
      %tr
        %th.downloads--icon
        %th URL
        %th.downloads--timestamp Failed
        %th Error
    %tbody
      - @downloads.each do |download|
        %tr
          %td.downloads--icons=download_icon(download)
          %td.d-flex.align-items-center
            = link_to download.url, download.url, class: "text-decoration-none", target: "_blank"
            = render partial: "tags", locals: { download: download }
          %td=download.failed_at.to_s(:timestamp)
          %td=download.error_message
          