- content_for :title do
  Finished Downloads

.p-4
  = render BreadcrumbsComponent.new(crumbs: ["Downloads", "Finished Downloads"])

.p-4  
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued, :started, :finished], actions: [:remove, :queue])