- content_for :title do
  Finished Downloads

.downloads.downloads--finished
  = breadcrumb("Downloads", "Finished Downloads")
  = render "table", table: { queued: true, started: true, finished: true }, action: { remove: true, queue: true }
