- content_for :title do
  Queued Downloads

.downloads.downloads--queued
  = breadcrumb("Downloads", "Queued Downloads")
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued], actions: [:remove])
  -# = render "table", table: { queued: true }, action: { remove: true }
