- content_for :title do
  Started Downloads

.container
  %table.table.table-hover
    %thead
      %tr
        %th.downloads--icon
        %th URL
        %th
        %th.downloads--timestamp Started
    %tbody
      - @downloads.each do |download|
        %tr
          %td=download_icon(download)
          %td=link_to download.url, download.url, class: "text-decoration-none", target: "_blank"
          %td=download_tags(download)
          %td=download.started_at.to_s(:timestamp)
          