- content_for :title do
  Started Downloads

.downloads.downloads--started
  = breadcrumb("Downloads", "Started Downloads")
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued, :started])
  -# = render "table", table: { queued: true, started: true }, action: { }
