%table.w-full
  %thead.border-b-2.border-emerald-500
    %tr
      %th.w-16
      %th URL
      - if queued_view?
        %th Q
      - if started_view?
        %th S
      - if finished_view?
        %th F
      - if cancelled_view?
        %th C
      - if failed_view?
        %th F
      - if @actions.any?
        %th.w-8
  %tbody
    - @downloads.each do |download|
      = render DownloadComponent.new(download: download, status_views: @status_views, actions: @actions)
              
.flex.justify-end.p-4
  = paginate @downloads