- content_for :title do
  Queued Downloads

.p-4
  = render BreadcrumbsComponent.new(crumbs: ["Downloads", "Queued Downloads"])

.p-4  
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued], actions: [:remove])
