- content_for :title do
  Started Downloads

.p-4
  = render BreadcrumbsComponent.new(crumbs: ["Downloads", "Started Downloads"])

.p-4  
  = render DownloadsComponent.new(downloads: @downloads, status_views: [:queued, :started])
