@import 'bulma/bulma';

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";

.is-complementary {
  background-color: #d1008b !important;
  color: white !important;
}

.fa-size-2 {
  font-size: 1.5rem;
}

a { color: $primary-dark; }

.is-size-8 {
  font-size: 0.5rem !important;
}

.tag {
  &--small {
    font-size: 0.5rem !important;
  }
}

@import 'flash';
@import 'menu';
@import 'downloads';
@import 'search';
