.downloads {
  &--icon {
    width: 4rem;
  }
  &--timestamp {
    width: 10rem;
  }
  &--icons {
    .fa-download {
      color: grey;
    }
    .fa-youtube {
      color: #ff0000;
    }
    .fa-google-drive {
      color: #4285f4;
    }
    .fa-music, .fa-film {
      color: lightgrey;
    }    
  }
  &--action-icons {
    width: 4rem;
    &--remove {
      @extend .has-text-danger;
    }
  }
}

.new-download {
  &--youtube-audio {
    .col-1 {
      padding-top: 2.5rem;
    }
  }
}
