.downloads {
  &--icon {
    width: 3.4rem;
  }
  &--timestamp {
    width: 10rem;
  }
  &--icons {
    .bi-youtube {
      color: #ff0000;
    }
    .bi-google {
      color: #4285f4;
    }
    .bi-music-note, .bi-film {
      color: lightgrey;
    }    
  }
}

.new-download {
  &--youtube-audio {
    .col-1 {
      padding-top: 2.5rem;
    }
  }
}