- if flash[:alert]
  %article.panel.is-alert.is-flash-message
    .panel-block
      =flash[:alert]

- if flash[:notice]
  %article.panel.is-notice.is-flash-message
    .panel-block
      =flash[:notice]